body{
    background-color: darkslategrey;  
}
#bike1{
    width: 400px;
    height: 200px;
    float: right;
    display: flex;
}
#bike2{
    width: 400px;
    height: 200px;
    float: right;
    display: flex;
}
#bike3{
    width: 400px;
    height: 200px;
    display: flex;
    float: right;
}
#bike4{
    width: 400px;
    height: 200px;
    display: flex;
    float: right;
}#bike5{
    width: 100px;
    height: 50px;
    display: flex;
    float: right;
}
.icon{
    display: flex;
    float: right;
    color: aquamarine;
    text-align: center;
}